footer {
    width: 100%;
    height: 300px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footer-img-push {
    width: 33%;
    height: 100%;
    position: relative;

    img {
        width: 17rem;
    }

    p {
        color: #EAEBDB;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}

.layout-parrafo-footer {
    width: 33%;
}

.parrafo-footer {
    width: 100%;
    height: 50%;
    p {
        color: #EAEBDB;
    }
}

.redes-footer {
    width: 100%;
    height: 50%;
    position: relative;

    ul {
        position: absolute;
        bottom: 0px;
    }

    li {
        list-style: none;
        display: inline;
    }

    a{
        text-decoration: none;
        color: #EAEBDB;
        padding-right: 50px;
    }    
}

.layout-boton-arriba {
    width: 33%;
    height: 100%;
    position: relative;

    button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: #EAEBDB;
        padding: 20px;
        border-radius: 15px;
        border: none;
    }
}