header {
    display: flex;
    justify-content: flex-end; /* Alinea todo el contenido a la derecha */
    padding: 10px; /* Opcional, para añadir espacio interno */
}

.ImgUser {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    object-fit: cover;
    overflow: hidden;
}