/* General container */
.profile-container {
    background-color: #1A1A1A;
    color: #FFF;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Banner */
.banner {
    background-color: #333;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
}

/* Profile content */
.profile-content {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.profile-image {
    margin-top: -100px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: #666;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.player-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.player-description {
    font-size: 14px;
    line-height: 1.5;
    /*background-color: red;*/
}

/* Social link */
.social-link img {
    margin-top: -65px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
}

/* Actions */
.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-button {
    background-color: #FF4747;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #E63C3C;
}

.action-button.secondary {
    background-color: #333;
    color: #FFF;
}

.action-button.secondary:hover {
    background-color: #444;
}
