
<footer>
    <div class="footer-img-push">
        <img src="PUSH-texto.svg" alt="">
        <p>copiright 2025</p>
    </div>
    <div class="layout-parrafo-footer">
        <div class="parrafo-footer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, sed animi numquam sequi dolor quasi delectus harum velit possimus cupiditate.</p>
        </div>
        <div class="redes-footer">
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Discord</a></li>
                <li><a href="">TikTok</a></li>
            </ul>
        </div>
    </div>
    <div class="layout-boton-arriba">
        <button><img src="../public/icons/caret-up.svg" alt=""></button>
    </div>
</footer>
