<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración - Preguntados</title>
    <link rel="stylesheet" href="../public/css/admin.css">
    <link rel="stylesheet" href="../public/css/header.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.15/jspdf.plugin.autotable.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body>
<header class="site-header">
    <div class="background-animation"></div>

    <!-- Logo Section -->
    <div class="logo-container">
        <img src="https://i.imgur.com/AdRHbcF.png" alt="Logo de la empresa" class="logo">
    </div>

    <nav class="header-nav">
        <a href="/PW2MVC-PREGUNTADOS/Usuario/cerrarSesion">
            <button class="logout-button">Cerrar sesión</button>
        </a>
    </nav>

    <div class="user-container">
        <div class="user-circle">
            <img src="/PW2MVC-PREGUNTADOS/public/imagenes/usuarios/{{Path_img_perfil}}" alt="Foto de perfil"  class="profile-pic">
        </div>
        <span class="nombreUser">{{nombre_usuario}}</span>
    </div>
</header>

<div class="container">
    <h1>🎮 Panel de Administración - Preguntados 🎮</h1>
    <button id="showAgeStats" class="stat-button">Usuarios por Edad</button>
    <button id="showGameQuestions" class="stat-button">Preguntas del juego</button>
<!--
    <h2>{{cantidadFacilArte}} cantidadFacilArte </h2>
    <h2>{{cantidadNormalArte}} cantidadNormalArte </h2>
    <h2>{{cantidadDificil}} cantidadDificil </h2>
    <h2>{{cantidadFacilCine}} cantidadFacilCine </h2>
    <h2>{{cantidadNormalCine}} cantidadNormalCine </h2>
    <h2>{{cantidadDificilCine}} cantidadDificilCine </h2>
-->
    <!-- Datos de usuarios por edad-->
    <input type="hidden" id="ninio" name="{{ninio}}" value="{{ninio}}">
    <input type="hidden" id="adolecente" name="{{adolescente}}" value="{{adolescente}}">
    <input type="hidden" id="adulto" name="{{adulto}}" value="{{adulto}}">
    <input type="hidden" id= "anciano" name="{{ancianos}}" value="{{ancianos}}">

</div>

<!-- GRAFICO DE USUARIO POR EDAD -->
<div id="ageModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Distribución de Usuarios por Edad</h2>
        <canvas id="ageChart"></canvas>
        <table id="ageTable">
            <thead>
            <tr>
                <th>Rango de Edad</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <!-- Table rows will be inserted here by JavaScript -->
            </tbody>
        </table>
        <a href="/PW2MVC-PREGUNTADOS/Admin/obtenerUsuarioPorEdad">
            <button id="downloadAgePDF" class="download-button">Descargar PDF</button>
        </a>
    </div>
</div>

<!-- GRAFICO DE PREGUNTAS DEL JUEGO -->
<div id="gameQuestionsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Preguntas del juego</h2>
        <select id="dificultad" name="dificultad" value="elejirOpcion" >
            <option value="elejirOpcion">Elija una opcion</option>
            <option value="facil" id="facil">Preguntas faciles</option>
            <option value="normal" id="normal">Preguntas normal</option>
            <option value="dificil" id="dificil">Preguntas Dificil</option>
        </select>

        <!-- Traigo todos los valores de la cantidad de preg facil,normal,dificil de cada categoria-->
        <!-- FACIL -->
        <input type="hidden" id= "cantidadFacilArte" name="{{cantidadFacilArte}}" value="{{cantidadFacilArte}}">
        <input type="hidden" id= "cantidadFacilCine" name="{{cantidadFacilCine}}" value="{{cantidadFacilCine}}">
        <input type="hidden" id= "cantidadFacilHistoria" name="{{cantidadFacilHistoria}}" value="{{cantidadFacilHistoria}}">
        <input type="hidden" id= "cantidadFacilDeporte" name="{{cantidadFacilDeporte}}" value="{{cantidadFacilDeporte}}">
        <input type="hidden" id= "cantidadFacilCiencia" name="{{cantidadFacilCiencia}}" value="{{cantidadFacilCiencia}}">
        <input type="hidden" id= "cantidadFacilGeografia" name="{{cantidadFacilGeografia}}" value="{{cantidadFacilGeografia}}">
        <!-- NORMAL -->
        <input type="hidden" id= "cantidadNormalArte" name="{{cantidadNormalArte}}" value="{{cantidadNormalArte}}">
        <input type="hidden" id= "cantidadNormalCine" name="{{cantidadNormalCine}}" value="{{cantidadNormalCine}}">
        <input type="hidden" id= "cantidadNormalHistoria" name="{{cantidadNormalHistoria}}" value="{{cantidadNormalHistoria}}">
        <input type="hidden" id= "cantidadNormalDeporte" name="{{cantidadNormalDeporte}}" value="{{cantidadNormalDeporte}}">
        <input type="hidden" id= "cantidadNormalCiencia" name="{{cantidadNormalCiencia}}" value="{{cantidadNormalCiencia}}">
        <input type="hidden" id= "cantidadNormalGeografia" name="{{cantidadNormalGeografia}}" value="{{cantidadNormalGeografia}}">
        <!-- DIFICIL -->
        <input type="hidden" id= "cantidadDificilArte" name="{{cantidadDificilArte}}" value="{{cantidadDificilArte}}">
        <input type="hidden" id= "cantidadDificilCine" name="{{cantidadDificilCine}}" value="{{cantidadDificilCine}}">
        <input type="hidden" id= "cantidadDificilHistoria" name="{{cantidadDificilHistoria}}" value="{{cantidadDificilHistoria}}">
        <input type="hidden" id= "cantidadDificilDeporte" name="{{cantidadDificilDeporte}}" value="{{cantidadDificilDeporte}}">
        <input type="hidden" id= "cantidadDificilCiencia" name="{{cantidadDificilCiencia}}" value="{{cantidadDificilCiencia}}">
        <input type="hidden" id= "cantidadDificilGeografia" name="{{cantidadDificilGeografia}}" value="{{cantidadDificilGeografia}}">

        <div class="chart-container">
            <canvas id="gameQuestionsChart"></canvas>
        </div>
        <table id="gameQuestionsTable">
            <thead>
            <tr>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Preguntas correctas</th>
                <th>Preguntas incorrectas</th>
            </tr>
            </thead>
            <tbody>
            <!-- Cantidad de preguntas de cada cateogria -->
            <input type="hidden" id= "arte" name="{{arte}}" value="{{arte}}">
            <input type="hidden" id= "cine" name="{{cine}}" value="{{cine}}">
            <input type="hidden" id= "historia" name="{{historia}}" value="{{historia}}">
            <input type="hidden" id= "deporte" name="{{deporte}}" value="{{deporte}}">
            <input type="hidden" id= "ciencia" name="{{ciencia}}" value="{{ciencia}}">
            <input type="hidden" id= "geografia" name="{{geografia}}" value="{{geografia}}">

            <!-- Cantidad de preguntas correctas de cada categoria-->
            <input type="hidden" id= "arteCorrectas" name="{{arteCorrectas}}" value="{{arteCorrectas}}">
            <input type="hidden" id= "cineCorrectas" name="{{cineCorrectas}}" value="{{cineCorrectas}}">
            <input type="hidden" id= "historiaCorrectas" name="{{historiaCorrectas}}" value="{{historiaCorrectas}}">
            <input type="hidden" id= "deporteCorrectas" name="{{deporteCorrectas}}" value="{{deporteCorrectas}}">
            <input type="hidden" id= "cienciaCorrectas" name="{{cienciaCorrectas}}" value="{{cienciaCorrectas}}">
            <input type="hidden" id= "geografiaCorrectas" name="{{geografiaCorrectas}}" value="{{geografiaCorrectas}}">

            <!-- Cantidad de preguntas incorrecta de cada categotia-->
            <input type="hidden" id= "arteIncorrectas" name="{{arteIncorrectas}}" value="{{arteIncorrectas}}">
            <input type="hidden" id= "cineIncorrectas" name="{{cineIncorrectas}}" value="{{cineIncorrectas}}">
            <input type="hidden" id= "historiaIncorrectas" name="{{historiaIncorrectas}}" value="{{historiaIncorrectas}}">
            <input type="hidden" id= "deporteIncorrectas" name="{{deporteIncorrectas}}" value="{{deporteIncorrectas}}">
            <input type="hidden" id= "cienciaIncorrectas" name="{{cienciaIncorrectas}}" value="{{cienciaIncorrectas}}">
            <input type="hidden" id= "geografiaIncorrectas" name="{{geografiaIncorrectas}}" value="{{geografiaIncorrectas}}">
            </tbody>
        </table>
        <a href="/PW2MVC-PREGUNTADOS/Admin/obtenerEstadisticaPregunta">
        <button id="downloadGameQuestionsPDF" class="download-button">Descargar PDF</button>
        </a>

    </div>
</div>

<script src="../public/js/admin.js"></script>

</body>
</html>

