<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/clip.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Clip</title>

</head>
<body>
<div class="cabeza">
    <h1>BANNER BANNER BANNER</h1>
    <div class="clipCabeza">
        <h2>COMO COMPARTO<br>MIS CLIPS?</h2>
        <p>Lorem ipsum dolor sed assumenda dolor, debitis quo eius veniam illum molestias distinctio repellendus corrupti aspernatur quidem, omnis laudantium dicta itaque sit delectus?</p>
        <h3 class="discord">DISCORD</h3>
    </div>
</div>

<div class="contenedor">

    <!-- Clip 1 -->
    <div class="clip">
        <img class="imgClip" src="6.png" alt="Clip 1" >
        <div class="clip-info">
            <span class="clip-title">TÍTULO</span>
            <span class="clip-user">USER</span>
            <img class="imgUser" src="6.png" alt="User">
        </div>
    </div>

    <!-- Clip 2 -->
    <div class="clip">
        <img class="imgClip" src="6.png" alt="Clip 1" >
        <div class="clip-info">
            <span class="clip-title">TÍTULO</span>
            <span class="clip-user">USER</span>
            <img class="imgUser" src="6.png" alt="User">
        </div>
    </div>

    <!-- Clip 3 -->
    <div class="clip">
        <img class="imgClip" src="6.png" alt="Clip 1" >
        <div class="clip-info">
            <span class="clip-title">TÍTULO</span>
            <span class="clip-user">USER</span>
            <img class="imgUser" src="6.png" alt="User">
        </div>
    </div>

    <!-- Clip 4 -->
    <div class="clip">
        <img class="imgClip" src="6.png" alt="Clip 1" >
        <div class="clip-info">
            <span class="clip-title">TÍTULO</span>
            <span class="clip-user">USER</span>
            <img class="imgUser" src="6.png" alt="User">
        </div>
    </div>
</div>
</body>
</html>
