
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/css/sidebar.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/main.css">

    <div id="sidebar">
        {{{sidebar}}}
    </div>
</head>
<body>
    <main>
        <!-- Seccion hero -->
        <div class="contenido-hero">
            <div class="contenido-arriba">
                <div class="texto-hero-grande">
                    <h1>COMPITE Y GANA</h1>
                </div>
                <div class="card-img-1">
        
                </div>
            </div>
            <div class="contenido-abajo">
                <div class="card-img-2">
                    
                </div>
                <div class="texto-hero-parrafo">
        
                </div>
            </div>
        </div>
        <!-- Banner texto scroll -->
        <div class="banner">
            <div class="contenido-scroll">
                <div class="scroll-text">
                    <p>TORNEOS<span class="asterisco">*</span>PREMIOS<span class="asterisco">*</span>DISCORD<span class="asterisco">*</span>COMUNIDAD<span class="asterisco">*</span></p>
                    <p>TORNEOS<span class="asterisco">*</span>PREMIOS<span class="asterisco">*</span>DISCORD<span class="asterisco">*</span>COMUNIDAD<span class="asterisco">*</span></p>
                </div>
            </div>
        </div>
        <!-- Seccion información PUSH -->
        <section class="section-info-push">
            <div class="contenido-info-push">
                <div class="texto-que-es-push">
                    <h1>QUE ES<span class="signo">?</span></h1>
                    <img src="/Torneo/public/imagenes/fondo-seccion.svg" alt="" >
                </div>
                <div class="layout-info-push">
                    <div class="card-info-push">
                        <div class="texto-info-push">
                            <p>Es la plataforma definitiva para los esntusiastas de los videosjuegos competitivos. Organiza, participa y sigue torneos de tus juegos favoritos como League of Legends, Valorant, y más. Aqui, la acción nunca se detiene.</p>
                        </div>
                        <div class="botones-info-push">
                            <button class="button-info-video">
                                ABRIR VIDEO
                            </button>
                            <button class="button-mas-info">MAS INFO</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Seccion tutorial login y registro -->
        <section class="section-info-tutorial">
            <div class="contenido-info-tutorial">
                <div class="textos-info-tutorial">
                    <h1>REGISTRATE,<br>CONÉCTATE Y<br>COMPITE.</h1>
                    <p>Únete a la comunidad gamer definitiva con PUSH.<br><span>REGÍSTRATE</span> en nuestra plataforma, <span>ÚNETE A NUESTRO DISCORD</span> y<br> descubre todos los <span>TORNEOS DISPONIBLES</span> o los que se<br>vienen próximamente. Desde esta conexión<br>tendrás acceso a <span>PREMIOS ÚNICOS</span>, herramientas<br>exclusivas y toda la información necesaria para<br>INSCRIBIRTE Y COMPETIR con los mejores<br>jugadores. ¡Tu aventura comienza aquí!</p>
                </div>
                <div class="layout-card-info-tutorial">
                    <div class="card-info-tutorial">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Rsfl6dIGPbojoNrUPdja0WjgGk8ESACRZg&s" alt="video">
                        <button>CREAR CUENTA</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- BARRA DE SEPARACION -->
        <div class="separacion-color"><!-- Nada --></div>
        <!-- Seccion tutorial compartir -->
        <section class="section-info-compartir">
            <div class="contenido-info-compartir">
                <div class="layout-card-info-compartir">
                    <div class="card-info-compartir">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Rsfl6dIGPbojoNrUPdja0WjgGk8ESACRZg&s" alt="video">
                    </div>
                </div>
                <div class="textos-info-compartir">
                    <h1>PARTICIPA<br>CAPTURA Y<br>COMPARTE</h1>
                    <p>En <span>PUSH</span>, creemos que cada jugada <br>cuenta. <span>COMPARTE</span> tus clips de jugadas <br>épicas, <span>MOMENTOS GRACIOSOS</span> o estrategias <br>increíbles con la <span>COMUNIDAD</span>. ¡Haz que <br>todos vean lo que puedes hacer!</p>
                </div>
            </div>
        </section>
        {{{footer}}}
    </main>
</body>
</html>
