<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Perfil</title>
    <link rel="stylesheet" href="../public/css/sidebar.css">
    <link rel="stylesheet" href="../public/css/perfil.css">
</head>
<body>
<div id="sidebar">
    {{{sidebar}}}
</div>
<div class="profile-container">
    <img class="banner" src="/Torneo/public/imagenes/usuarios/{{banner}}" alt="Foto de perfil" >

    <div class="profile-content">
            <img class="profile-image" src="/Torneo/public/imagenes/usuarios/{{Path_img_perfil}}" alt="Foto de perfil" >
        <div class="profile-info">
            <h2 class="player-name">{{{nombre_usuario}}}</h2>
            <p class="player-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="social-link">
            <img src="https://img.freepik.com/vector-gratis/banner-moderno-logo-twitch_69286-296.jpg?t=st=1736121351~exp=1736124951~hmac=f6fbfd1f03bb4d3f7531f7e742e13f6514615c4eef1b216c81c7c003d6b9e7d0&w=1380"  alt="Twitch" />
        </div>
    </div>
        <div class="profile-actions">
            <!-- Cambiar Foto -->
            <form action="/Torneo/Usuario/cambiarFotoPerfil" method="post" enctype="multipart/form-data" id="formCambiarFoto">
                <input type="file" name="fotoPerfil" id="fotoPerfil" accept="image/*" style="display: none;" required>
                <label for="fotoPerfil" name="fotoPerfil" class="action-button">CAMBIAR FOTO</label>
            </form>

            <form action="/Torneo/Usuario/cambiarPlataformaStream" method="post" id="formCambiarPlataformaStream">
                <input type="url" name="plataformaStream" class="action-button" id="plataformaStream" placeholder="URL Plataforma Stream" value="{{plataformaStream}}" required>
            </form>
            <!-- Cambiar Banner -->
            <form action="/Torneo/Usuario/cambiarBanner" method="post" enctype="multipart/form-data" id="formCambiarBanner">
                <input type="file" name="fotoBanner" id="fotoBanner" accept="image/*" style="display: none;" required>
                <label for="fotoBanner" class="action-button">CAMBIAR BANNER</label>
            </form>
        </div>

</div>

</div>

<script src="../public/js/perfil.js" ></script>

</body>
</html>